<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Image Gallery</h1>
        <div>
          <table>
            <tr>
              <td><img src="/image/{{image.filePath}}" width="300"/></td>
              <td>
                <b>ID:</b> {{image.photoID}}
                <br>Posted by {{image.photoOwner}}{% if settings.displayTimestamp %} on {{image.timestamp}}{% endif %}
                {% if settings.displayTagged %}<br><b>Tagged: </b>{% for tag in tags %}@{{tag.username}} {% endfor %}{% endif %}
                <br><b>Caption: </b>{{image.caption}}
                <br>
                <b>Liked: </b>
                    {% for likedPerson in likedPeople %}
                        {{likedPerson.username}}
                        {{" "}}
                    {%  endfor %}
                <form action="/likeUnlike/{{image.photoID}}" method="get">
                    {% if like == "Like" %}
                    <input type="submit" value= "Like" >
                    {% endif %}
                    {% if like == "Liked" %}
                    <input type="submit" value= "Unlike" >
                    {% endif %}
                </form>
                <br><b>Comments:</b>
                <br>
                {% for comment in comments %} {{comment.username}} {{":"}} {{comment.commentText}} <br>{% endfor %}
                {% if session == image.photoOwner %}
                <br><form action="/editImage/{{image.photoID}}"><input type="submit" value="Edit"></form>
                <form action="/deleteImage/{{image.photoID}}"><input type="submit" value="Delete"></form>
                {% endif %}
                <br><form action="/editComment/{{image.photoID}}"><input type="submit" value="Manage my comments"></form>

              </td>
            </tr>
          </table>
        </div>
        <a href="/images">Go back</a>
    </body>
</html>
